.form-container {
    display: flex;
    justify-content: center;
}

.form-table {
    background-color: lightblue;
    border: 0;
}

.form-table-field-title {
    height: 100%;
    display: flex;
    border: 0;
    font-size: 16px;
}

.form-table-field-input {
    border: 0;
}

.field-input {
    width: 400px;
    height: 16px;
    font-size: 16px;
}

.form-table-field-select {
    border: 0;
}

.form-table-field-date {
    border: 0;
}

input[type="date"] { 
    border: 0;
    width:100%;
    font-size: 16px;
}

button {
    font-size: 16px;
    margin: 0 10px;
}

select {
    width: 100%;
    font-size: 16px;
}

.choose-title {
    text-align-last: center;
}

.form-table-button-link {
    border: 0;
    padding: 10px;
}

.form-table-notes {
    border: 0;
    text-align: left;
}